body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.pointer {cursor: pointer;}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.preventcopy {
  /* iOS Safari */
  -webkit-touch-callout: none;
  /* Chrome/Safari/Opera  */
  -webkit-user-select: none;
  /* Konqueror  */
  -khtml-user-select: none;
  /* Firefox  */
  -moz-user-select: none;
  /* Internet Explorer/Edge */
  -ms-user-select: none;
  /* Non-prefixed version, currently */
  user-select: none;
  /* not supported by any browser  */
 }

 .row{
  margin-top: 5px;
 }
h2{
  text-align: center;
  margin-bottom: 30px;
}

.modal-body{
  -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

.container-fluid{
  background-color:#f2f2f2;
  border-radius: 5px;
  text-align: center;

}
